<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
	</configSections>
	<appSettings>
		<add key="DataAccessLayerToUse" value="EntityFramework"/>
		<add key="EnableDistributedTransactionToMessageQueueingSystem" value="true"/>
	</appSettings>
	<enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
		<sources>
			<add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="ApplicationBlocks.config"/>
		</sources>
	</enterpriseLibrary.ConfigurationSource>
	<connectionStrings>
		<add name="EntityFramework" connectionString="metadata=res://*/HsrOrderApp.csdl|res://*/HsrOrderApp.ssdl|res://*/HsrOrderApp.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=HsrOrderApp;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
		<add name="LINQ2SQL" connectionString="Data Source=localhost;Initial Catalog=HsrOrderApp;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" targetFramework="4.0">
		</compilation>
		<!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
		<authentication mode="Forms"/>
		<authorization>
		</authorization>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<roleManager defaultProvider="HsrOrderAppRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="HsrOrderAppRoleProvider" type="HsrOrderApp.BL.Security.HsrOrderAppRoleProvider,HsrOrderApp.UI.Silverlight.Web"/>
			</providers>
		</roleManager>
		<membership defaultProvider="HsrOrderAppMembershipProvider" userIsOnlineTimeWindow="1">
			<providers>
				<clear/>
				<add name="HsrOrderAppMembershipProvider" type="HsrOrderApp.BL.Security.HsrOrderAppMembershipProvider,HsrOrderApp.UI.Silverlight.Web" applicationName="/"/>
			</providers>
		</membership>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
	<system.serviceModel>
		<client/>
		<services>
			<service name="System.Web.ApplicationServices.AuthenticationService" behaviorConfiguration="AuthenticationServiceTypeBehaviors">
				<endpoint contract="System.Web.ApplicationServices.AuthenticationService" binding="basicHttpBinding" bindingConfiguration="userHttp" bindingNamespace="http://asp.net/ApplicationServices/v200"/>
			</service>
			<service name="SL.CustomerService.CustomerService" behaviorConfiguration="CustomerBehavior">
				<endpoint bindingConfiguration="userHttp" binding="basicHttpBinding" contract="HsrOrderApp.SharedLibraries.ServiceInterfaces.ICustomerService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="userHttp">
					<security mode="None">
						<transport>
							<extendedProtectionPolicy policyEnforcement="Never"/>
						</transport>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="CustomerBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
				<behavior name="AuthenticationServiceTypeBehaviors">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
	</system.serviceModel>
	<system.web.extensions>
		<scripting>
			<webServices>
				<authenticationService enabled="true" requireSSL="false"/>
			</webServices>
		</scripting>
	</system.web.extensions>
</configuration>
