@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HSR Order App</h1>
    <p class="lead">Die HSR Order App ist eine Beispielapplikation für den Zertifikatslehrgang CAS.NET Enterprise / Web Applications.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Microsoft Innovation Center Rapperswil</h2>
        <p>
            Das Microsoft Innovation Center (MIC) Rapperswil, eine gemeinsame Initiative von Microsoft Schweiz und der HSR Hochschule für Technik Rapperswil, ermittelt ausgewiesenes Expertenwissen aus der Informatik. Als ideale Verbindung von Forschung und Praxis unterstützt das Zentrum Softwarehersteller und Integrationspartner mit Schulungs- und Beratungsangeboten.
        </p>
        <p>
            Unsere Leistungen unterstützen Firmen in allen Stadien: vom ersten strategischen Ansatz, über den Wissensaufbau, bis hin zur individuellen Beratung, Projektbegleitung und Umsetzung.
        </p>
        <p><a class="btn btn-default" href="http://www.msic.ch/">Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>HSR Weiterbildung<br /><br /></h2>
        <p>
            Die HSR bietet ergänzend zu den Bachelor- und Masterangeboten praxisgerechte Weiterbildungsveranstaltungen in den Bereichen Technik, Informationstechnologie sowie Bau- und Planungswesen an.
        </p>
        <p>Im Zentrum des Angebotes stehen die eidgenössisch anerkannten Weiterbildungsmaster (Master of Advanced Studies MAS), die zu einem Diplom und geschützten Titeln führen. </p>
        <p><a class="btn btn-default" href="http://www.hsr.ch/weiterbildung">Details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hochschule für Technik Rapperswil HSR</h2>
        <p>Die HSR Hochschule für Technik Rapperswil ist Mitglied der Fachhochschule Ostschweiz FHO. 1972 wurde sie als Interkantonales Technikum Rapperswil gegründet. Die HSR wird von den drei Kantonen St. Gallen, Schwyz und Glarus getragen undl bildet in Technik/IT sowie Architektur/Bau/Planung rund 1500 Bachelor- und Masterstudierende aus. Die CAS- und MAS-Lehrgänge an der HSR richten sich an Fachleute aus der Praxis. Durch ihre 16 Institute der anwendungsorientierten Forschung und Entwicklung pflegt die HSR eine intensive Zusammenarbeit mit der Wirtschaft und der öffentlichen Hand.</p>
        <p><a class="btn btn-default" href="http://www.hsr.ch/">Details &raquo;</a></p>
    </div>
</div>